// variables globales

$mainColor: rgba(216, 206, 197, 1);
$secondColor: rgba(114, 28, 44, 1);
$keyColor: rgba(114, 103, 92, 1);
$backColor: white;
$textShadow: rgba(255,255,255, 0.3);
$noColor: rgb(0, 0, 0);


// sizing
$w-100:100%;
$w-75:75%;
$w-50:50%;
$w-25:25%;

